In [ ]:
#установка библиотек
# !pip install psycopg2
# !pip install plotly

In [ ]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student22'
DB_USER_PASSWORD = 'student22_password'
DB_NAME = 'sql_ex_for_student22'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [ ]:
query1 = """
SELECT * FROM count_products_by_makers
"""

query2 = """
SELECT * FROM sunk_ships_by_classes
"""

query3 = """
SELECT country
    , count(*)
FROM classes_with_flag
GROUP BY country
"""

query4 = """
SELECT launched 
    , count(*) 
FROM ships s 
GROUP BY launched 
ORDER BY launched
"""

In [ ]:
data_raw = pd.io.sql.read_sql(query1, con = conn)

In [ ]:
f = px.bar(data_raw.sort_values(by='maker'), x = 'maker', y = 'count')
f.update_layout(xaxis_title = 'Производитель', yaxis_title = 'Количество')
f.show()

In [ ]:
data_raw = pd.io.sql.read_sql(query2, con = conn)

In [ ]:
f = px.bar(data_raw, x = 'class', y = 'count')
f.update_layout(xaxis_title = 'Класс корабля', yaxis_title = 'Количество потопленных')
f.show()

In [ ]:
data_raw = pd.io.sql.read_sql(query3, con = conn)

In [ ]:
f = px.bar(data_raw, x = 'country', y = 'count')
f.update_layout(xaxis_title = 'Страна', yaxis_title = 'Количество классов кораблей')
f.show()

In [ ]:
data_raw = pd.io.sql.read_sql(query4, con = conn)

In [ ]:
f = px.bar(data_raw, x = 'launched', y = 'count')
f.update_layout(xaxis_title = 'Год спуска на воду', yaxis_title = 'Количество кораблей')
f.show()